<template>
	<div>
		<h2>Users</h2>
		<form class="mb-3" @submit.prevent="storeUser">
			<div v-if="feedback">
				<span class="alert alert-danger" role="alert" v-text="feedback">
				</span>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="First Name" v-model="user.first_name">
				</div>
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="Last Name" v-model="user.last_name">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="Address" v-model="user.address">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control" placeholder="Postcode" v-model="user.postcode">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control" placeholder="Contact Phone Number" v-model="user.contact_phone_number">
				</div>
			</div>
			<div class="form-group row">
				<div class="col-sm-4">
					<input type="text" class="form-control" placeholder="Username" v-model="user.username">
				</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" placeholder="Email" v-model="user.email">
				</div>
				<div class="col-sm-4">
					<input type="password" class="form-control" placeholder="Password" v-model="user.password">
				</div>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary btn-block">Save</button>
			</div>
		</form>
		<div class="row">
			<div class="col-sm-10">
				<nav aria-label="Page navigation example">
					<ul class="pagination">
					    <li v-bind:class="[{disabled: !pagination.prevPageUrl}]" class="page-item"><a class="page-link" href="#" @click="fetchUsers(pagination.prevPageUrl)">Previous</a></li>
					    <li class="page-item disabled"><a class="page-link text-dark" href="#">Page {{ pagination.currentPage }} of {{ pagination.lastPage }}</a></li>
					    <li v-bind:class="[{disabled: !pagination.nextPageUrl}]" class="page-item"><a class="page-link" href="#" @click="fetchUsers(pagination.nextPageUrl)">Next</a></li>
					</ul>
				</nav>
			</div>
			<div class="col-sm-2">
				<button v-bind:class="[{disabled: !deleteItems.length}]" class="btn btn-danger pull-right" @click="deleteMultipleUser()">Delete Selected</button>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12" v-for="user in users">
				<div class="card my-3">
					<div class="card-header bg-success text-white d-flex align-items-center">
						<input type="checkbox" v-model="deleteItems" :value="`${user.id}`" class="mr-2">
						<h3>{{ user.first_name }} {{ user.last_name }}</h3>
					</div>
					<div class="card-body mx-5">
						<div class="row mb-2">
							<div class="col-sm-6 d-flex align-items-baseline">
								<h5 class="card-title pr-2">Address: </h5>
								<p class="card-text"> {{ user.address }} {{ user.postcode }}</p>
							</div>
							<div class="col-sm-6 d-flex align-items-baseline">
								<h5 class="card-title pr-2">Contact Phone Number: </h5>
								<p class="card-text"> {{ user.contact_phone_number }} </p>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 d-flex align-items-baseline">
								<h5 class="card-title pr-2">Username: </h5>
								<p class="card-text"> {{ user.username }} </p>
							</div>
							<div class="col-sm-6 d-flex align-items-baseline">
								<h5 class="card-title pr-2">Email: </h5>
								<p class="card-text"> {{ user.email }} </p>
							</div>
						</div>
					</div>
					<div class="card-footer px-5 py-2">
						<button class="btn btn-warning" @click="editUser(user)">Edit</button>
						<button class="btn btn-danger" @click="deleteUser(user.id)">Delete</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data(){
			return {
				users: [],
				user: {
					id: '',
					first_name: '',
					last_name: '',
					address: '',
					postcode: '',
					contact_phone_number: '',
					username: '',
					email: '',
					password: '',
				}, 
				userId: '',
				pagination: {},
				edit: false,
				feedback: '',
				deleteItems: [],
			}
		},
		created(){
			this.fetchUsers();
		},
		methods: {
			fetchUsers(page_url){
				this.edit = false;
				let that = this;
				page_url = page_url || '/api/users';
				fetch(page_url)
				.then(res => res.json())
				.then(res => {
					this.users = res.data;
					that.makePagination(res.meta, res.links);
				})
				.catch(err => console.log(err));
			},

			makePagination(meta, links){
				let pagination = {
					currentPage: meta.current_page,
					lastPage: meta.last_page,
					nextPageUrl: links.next,
					prevPageUrl: links.prev
				}

				this.pagination = pagination;
			},

			deleteUser(id){
				if(confirm('Are you sure?')){
					fetch(`api/users/${id}/delete`, {
						method: 'delete'
					})
					.then(res => res.json())
					.then(data => {
						alert('User Deleted!');
						this.fetchUsers();
					})
					.catch(err => console.log(err));
				}
			},

			storeUser(){
				if(this.edit === false){
					fetch('api/users/store', {
						method: 'post',
						body: JSON.stringify(this.user),
						headers: {
							'content-type': 'application/json'
						}
					})
					.then(res => res.json())
					.then(res => {
						this.user.first_name = '';
						this.user.last_name = '';
						this.user.address = '';
						this.user.postcode = '';
						this.user.contact_phone_number = '';
						this.user.username = '';
						this.user.email = '';
						this.user.password = '';
						alert('User Added!');
						this.fetchUsers();
					})
					.catch(err => console.log(err));
				}
				else{
					if(this.user.password == ''){
						this.user.password = " ";
					}
					axios 
				        .put(`api/users/update/${this.userId}`, { 
				        	"first_name": this.user.first_name,
				        	"last_name": this.user.last_name,
				        	"address": this.user.address,
				        	"postcode": this.user.postcode,
				        	"contact_phone_number": this.user.contact_phone_number,
				        	"username": this.user.username,
				        	"email": this.user.email,
				        	"password": this.user.password,
				        })
						.then(data => {
							this.user.first_name = '';
							this.user.last_name = '';
							this.user.address = '';
							this.user.postcode = '';
							this.user.contact_phone_number = '';
							this.user.username = '';
							this.user.email = '';
							this.user.password = '';
							alert('User Updated!');
							this.fetchUsers();
						})
						.catch(error => this.feedback = error.response.data);
				}
			},

			editUser(user){
				this.edit = true;
				this.user.id = user.id;
				this.userId = user.id;
				this.user.first_name = user.first_name;
				this.user.last_name = user.last_name;
				this.user.address = user.address;
				this.user.postcode = user.postcode;
				this.user.contact_phone_number = user.contact_phone_number;
				this.user.username = user.username;
				this.user.email = user.email;
				if(user.password){
					this.user.password = user.password;
				}
				else{
					this.user.password = '';
				}
			},

			deleteMultipleUser(){
				if(this.deleteItems.length){
					if(confirm('Are you sure?')){
						axios
							.post('/api/users/delete/'+this.deleteItems)
							.then(res => {
								this.deleteItems = [];
								alert('Multiple Users Deleted!');
								this.fetchUsers();
							})
							.catch(err => console.log(err));
					}
				}
			}
		},
	};
</script>

<style scoped>
</style>